@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #efefef;
    box-sizing: border-box;
}

.calculator-canvas{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 480px;
    height: 650px;
    padding: 20px;
    margin: 10px;
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #97B0A6;
    margin-bottom: 10px;
    width: 450px;
    height: 120px;
}

.display-content{
    font-family: "Press Start 2P";
    font-size: 40px;
}

.utilities{
    display: flex;
}

.column{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clear, 
.delete{
    background-color: red;
    width: 210px;
    font-size: 30px;
}

button{
    width: 90px;
    height: 90px;
    margin: 3px 0px;
    font-size: 50px;
}